<!DOCTYPE html>
<html>
	<head>
		<title>Ex00: Markdown Cheatsheet.</title>
	</head>
	<body>
		<h1>Markdown Cheatsheet</h1>
		<h2>Text stylisation</h2>
		<h3>Italic</h3>
		<p>_text_</p>
		<p>*text*</p>
		<h3>Bold</h3>
		<p>**text**</p>
		<h3>stroked</h3>
		<p>~~text~~</p>
		<h2>Code blocks</h2>
		<h3>inline code block</h3>
		<p>`text`</p>
		<h3>full code block</h3>
		<p>```lang</p>
		<p>code here</p>
		<p>````</p>
		<h2>Links</h2>
		<p>[displayed text](http://example.org/)</p>
		<h2>Images</h2>
		<p>![name](http://example.org/image.png "optional tooltip")</p>
		<h2>Quotes</h2>
		<p>&gt; text</p>
		<h2>Lists</h2>
		<h3>Unordered list</h3>
		<p>* an element</p>
		<p>* another element</p>
		<p>&nbsp&nbsp&nbsp&nbsp*a sub element</p>
		<h3>Ordered list</h3>
		<p>1. an element</p>
		<p>2. another element</p>
		<h2>Titles</h2>
		<p> You can create a title by putting "#" in front of text, the number of "#" define the title level (h1 -> h6) </p>
		<p> alternatively you can create a h1 title by adding "-------" or "=======" under it </p>
		<h2>Table</h2>
		<p>| left Side | centered | right side |</p>
		<p>|:----------|:--------:|-----------:|</p>
		<p>|please|notice|the ':'|</p>
		<p>they| decide the| alignement</p>
	</body>
</html>
