<!DOCTYPE html>
<html>
	<head>
		<title> {title} </title>
	</head>
	<body>
		<h1> {title} </h1>
		<p>{name}</p>
		<p>{surname}</p>
		<p>{login}</p>
		<p>{age}</p>
		<p>{profession}</p>
	</body>
</html>
